
<button (click) = "currentProgress = currentProgress + 1">+</button>
<app-progess-bar [progress] = "currentProgress" [progessColor]="'black'"></app-progess-bar>

<br>
<app-progess-bar [progress] = "80"></app-progess-bar>
<br>
{{name}}
<app-my-home></app-my-home>
<!-- data binding -->
<p>My name is {{user.name}}</p>
<p>My age is {{user.age}}</p>


<input [type] = "'text'" [value] = "user.name">
<button type="button" (click) = "handler()">Click Me</button>
<br>

<input type ="text" [(ngModel)] = "name"/>
<br>
<br>
<br>

<!-- NgIf Structural Directive (thay đổi, lấy đi thêm vào DOM)-->
<hello *ngIf="user.age > 18; else under18" [name] = "user.name"></hello>
<ng-template #under18>
  <div>
    You r not my friend
  </div>
</ng-template>
<button (click)="user.age = user.age - 1">-</button>
Age: {{user.age}}
<button (click)="user.age = user.age + 1">+</button>
<br>
<br>
<br>
<hello [hidden]="user.age > 18" [name] = "user.name"></hello>
<ng-template #under18>
  <div>
    You r not my friend
  </div>
</ng-template>
<button (click)="user.age = user.age - 1">-</button>
Age: {{user.age}}
<button (click)="user.age = user.age + 1">+</button>

<!--NgFor Structural Directive (hiển thị danh sách)-->
<!-- kiểm tra trước rồi mới lặp-->
<br>
<br>
<br>
<ul>
  <li *ngFor="let item of user1; index as idx; count as total; first as isFirst; last as isLast; even as isEven; odd as isOdd">

    {{item.name}} - {{item.id}} - {{item.phone}}
    <span *ngIf="isFirst">This is first item</span>
    <span *ngIf="isLast">This is last item</span>
    <span *ngIf="isEven">This is even item</span>
    <span *ngIf="isOdd">This is odd item</span>
    <span>{{idx}} out of {{total}} </span>
  </li>
</ul>

<!--Class & Style Binding-->
<!--
  - [class.ten-class]
  - [class] = "array"
  - [class] = "object" { [ten-class: string]: boolean}
  - [class] = "variable"
-->
<br><br>
<button (click)="isDanger = !isDanger">Danger</button>
<br>
<button (click)="isWarning = !isWarning">Warmning</button>

<!--<div class="box" [class.red-border]="isDanger" [class.yellow-background]="isWarning"></div>-->
<div class="box" [class]="{'red-border': isDanger,'yellow-background': isWarning}"></div>

<br>
<div>STYLE BINDING</div>
<!--
  - [style.tenStyle]
  - [style.ten-sty]
  - [style.tenStyle.unit]
  - [style] = "object" { [tenStyle: string]: string}
  - [style.css-varible]
-->
<p [style.color]="'red'" [style.background-color]="'yellow'">
  Hello fuck you
</p>
<br>
<p [style]="{color: 'blue'}">
  Hello fuck you
</p>

<!--Input binding-->